<h1><img src="/assets/GreenMushroom_NoBG.png" height="40"/> Welcome to 1UP! <img src="/assets/GreenMushroom_NoBG.png" height="40"/></h1>

<div class="opening-text">
<p> 1-Up Landscaping, Inc. is dedicated to being the go-to landscape destination 
for all customers in the Mushroom Kingdom and Greater Hyrule Valley. We provide 
    the highest quality guidance, resources and materials to create or improve 
    your outdoor oasis. Whether you’re looking for a Deku Tree trimming, Fire 
    Piranha Plant removal, Red Mushroom treatment, or anything else between - 
    we have you covered. Using our patented Miyamoto Method, we ensure the highest 
    quality in all of our services! 
    <%= link_to "Login", login_path %>, <%= link_to "Sign Up", signup_path %>, or
    <%= link_to "Log in with Google", '/auth/google_oauth2', method: :post %><br> 
 </p>
 </div>
