/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top-logo {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px auto;
}



.checkerboard {
    display: flex;
    justify-content: center;
    position: relative;
    top: -6px;
}

.nav-text {
    float: center;
    position: relative;
    text-align: center;
    top: -30px;
   
    

}

body {
    background-color: #6185f8; 
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
  }

  .wrapper {
    background: #ffffff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

