<h1>Your Review  </h1>

<h4><%=@review.description%></h4>
<p><%=@review.description%></p>

<%if current_user %>
<%= link_to "Edit Review", edit_review_path(@review) %>
   <br><br>
  
   <%= button_to "Delete Review", review_path(@review), method: :delete %>
   <%end%>


