
<% if object.errors.any? %>
<div id="error_explanation">
  <h2><em><%= pluralize(object.errors.count, "error") %> prohibited this from being saved:<em></h2>

  <ul>
  <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>